body{
    background-image: linear-gradient(to right,rgb(0, 213, 255),#493272)
}
.card{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    align-items: center;
    background-color:#14A9D9;
}
.card1{
    margin-top: 50px;
}

#color{
   color: #493272;
   background-color: black;
}
/* .background{

    padding-top: 40px;
   background-color: aquamarine;
   min-height: 1024px;

}
.background img{
    display: block;
  margin-left: auto;
  margin-right: auto;
 height:max-content;

} */
nav{
    background-color: #493272;
    
}


@media (max-width:768px){

    .card{
        width: 70%;
    }  
    .background img 
    {
        /* width: 1024px; */
        height: 900px;

    }
}
@media (max-width:400px){

    .card{
        width: 80%;
    } 
    .background img 
    {
        /* width: 1024px; */
        height: 900px;

    }
}
